@import '~@angular/material/theming';

@mixin apartment-grid-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);


    tr.element-row:not(.expanded-row):hover {
    background: mat-color($accent,200);;
    }

}
